{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<style>
	#updateSubmit {
		margin-left: 5px;
	}
	</style>
    <!-- this three below are for date picker -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'mainforms/scripts.js' %}"></script>

    <title>Item Edit</title>

</head>

<body>
	<h3>Patient Pay Entry ID# {{ itemid }} </h3>
<form id='ptpayformupdate' action = "{% url 'ptpayItemSubmit' itemid %}" method = 'post' novalidate>
{% csrf_token %}

<table class="table table-sm">
<thead>
<tr>

		<th scope="col">Entry Date</th>
		<th scope="col">Staff</th>
		<th scope="col">Location</th>
</tr>

</thead>

<tbody>


<tr>
	<td>{{ form.datepay }} </td>
	<td>{{ staff.staffname }} <small class="alert" id='namealert'></small> </td>
	<td>{{ location.locname }} </td>
</tr>

<tr>
		<th scope="col">MRN</th>
		<th scope="col">Patient Name</th>
		<th scope="col">Payment Item</th>
		<th scope="col">Payment Type</th>
		<th scope="col">Amount</th>
		
</tr>
<tr>
	<td>{{ form.ptidpay }}	</td>
	<td>{{ form.ptnamepay }} </td>
	<td>{{ form.payitem }} </td>
	<td>{{ form.paytype }}</td>
	<td>{{ form.amountpay }} </td>
	
</tr>

	
</tbody>
</table>
<button id="updateSubmit" type="button" class="btn btn-secondary" name="Submit" value="updateSubmit">Save Entry</button>
</form>

<div id='errors'> </div>

<script>
//Patient pay item save entry button
document.getElementById("updateSubmit").onclick=validatePatientPayEntryID;

function validatePatientPayEntryID() {
console.log('validate button is executing')
var nameMessage = "";
var validName = document.getElementById('id_staffname').value;

if (validName == null || validName == "" )  {
   nameMessage += "<font color='red'>Valid Name Required </font>";
   document.getElementById("id_staffname").setAttribute('class', 'form-control is-invalid');
   document.getElementById("namealert").innerHTML = nameMessage;

 } else {
  	document.getElementById("id_staffname").classList.remove('is-invalid');
   	document.getElementById("namealert").innerHTML = nameMessage;
   	document.getElementById('ptpayformupdate').submit();
 }
 }
</script>

</body>

</html>