<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	
	

    <title>Superuser Pages</title>


</head>


<body>

	<div>
		<ul class="nav justify-content-end">
		   <li class="nav-item">
		    <a class="nav-link active" href="{% url 'superuser' %}"> Super User Page </a>
		  </li>
		  <li class="nav-item">
		    	<a class="nav-link active" href="{% url 'reportedit' %}">Cash Log Edit</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled" href="{% url 'ptpayedit' %}">Patient Pay Edit</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
		  </li>
		 
		</ul>

	<h3>
	  Patient Pay Edit
	  <small class="text-muted">Last Hundred Entries Only</small>
	</h3>
</div>

	<table class="table table-sm">
	<thead>
	<tr>
		<th scope="col">Entry ID</th>
		<th scope="col">Entry Date</th>
		<th scope="col">MRN</th>
		<th scope="col">Patient Name</th>
		<th scope="col">Payment Item</th>
		<th scope="col">Payment Type</th>
		<th scope="col">Amount</th>
		<th scope="col">Comments</th>
		<th scope="col">Staff</th>
		<th scope="col">Location</th>
	
	</tr>
	</thead>

	<tbody>

	{% for item in ptpayreport %}
	<tr>
		<th scope="row">{{ item.entryidp }}</th>
		<td>{{ item.datepay }}	</td>
		<td>{{ item.ptidpay }} </td>
		<td>{{ item.ptnamepay }}</td>
		<td>{{ item.payitem }}</td>
		<td>{{ item.paytype }}	</td>
		<td>{{ item.amountpay }}	</td>
		<td>{{ item.otherpay }}	</td>
		<td>{{ item.staffid }}</td>
		<td>{{ item.locid }} </td>
		<td> <button type="button" onclick="location.href='{% url 'ptpayitemedit' item.entryidp %}'" class="btn btn-outline-secondary btn-sm">Edit</button> </td>
		<td> <button type="button" value="{{ item.entryidp }}" id="deleteEntry" class="btn btn-outline-danger btn-sm deleter" >Delete</button> </td>
	</tr>
	{% endfor %}
	</tbody>
	</table >
</body>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	      <div class="modal-body">
	     <form method = "post" id="deletepost" action="{% url 'delete' %}">
	     		{% csrf_token %}
	     		Entry# to be Deleted:<input class="form-control" type="text" name="deletedID" id="deletedID" readonly/>
	        	Enter Password again to confirm:<input class="form-control" type='password' name='password'/>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	        <input type="submit" value="Delete" class="btn btn-primary">
	    
	      </div>
	      </form>
    </div>
  </div>
</div>



</html>

<script>
		function passWarn() {
			let test = this.value;
			console.log(test);
			document.getElementById("deletedID").value= test;;
			$("#deleteModal").modal({backdrop: 'static', keyboard: false}) ;
		

	}
	
	groupButtons = document.querySelectorAll(".deleter");

	[].forEach.call(groupButtons, (element)=>{element.onclick= passWarn})         
												
				


/*Patient pay item save entry button
document.getElementById("deleteEntry").onclick=deletePatientPayEntryID;

function deletePatientPayEntryID() {
console.log('validate button is executing')
var nameMessage = "";
var validName = document.getElementById('id_staffname').value;

if (validName == null || validName == "" )  {
   nameMessage += "<font color='red'>Valid Name Required </font>";
   document.getElementById("id_staffname").setAttribute('class', 'form-control is-invalid');
   document.getElementById("namealert").innerHTML = nameMessage;

 } else {
  	document.getElementById("id_staffname").classList.remove('is-invalid');
   	document.getElementById("namealert").innerHTML = nameMessage;
   	document.getElementById('ptpayformupdate').submit();
 }
 }
 */
</script>
